---
import Layout from '../layouts/Layout.astro';
import TopNavBar from '../components/TopNavBar.astro';
import HeroSection from '../components/HeroSection.astro';
import VisionSection from '../components/VisionSection.astro';
import AcademyFocusSection from '../components/AcademyFocusSection.astro';
import CommunitySection from '../components/CommunitySection.astro';
import MembershipSection from '../components/MembershipSection.astro';
import BWPartnerSection from '../components/BWPartnerSection.astro';
import FooterSection from '../components/FooterSection.astro';
---

<Layout title="AK Kommunal | Die kommunale Bildungsplattform">
	<TopNavBar />
	
	<main class="">
		<HeroSection />
		<VisionSection />
		<AcademyFocusSection />
		<CommunitySection />
		<MembershipSection />
		<BWPartnerSection />
	</main>

	<FooterSection />
</Layout>
